.error-text {
    color: red;
    font-weight: bold;
}

table {
    width: 40em ;
    text-align: left;
    border-collapse: collapse;
}
td {
    width: 4em ;
}

.item2 {
    visibility: hidden;
}

.item3 {
    visibility: hidden;
}