.error-text {
    color: red;
    font-weight: bold;
}

table {
    width: 40em ;
    text-align: left;
    border-collapse: collapse;
}
td {
    width: 4em ;
}

a.instructions {
    color: blue;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
a.instructions:hover {
    color: #B0DBFF;
}
a.instructions:visited {
    color: blue;
}