body {
    color: black;
    background-color: white;
    margin-left: 0;
    margin-top: 0em;
}
.lindent { margin-left: 5em; }
.sending-results {
    font-weight: bold;
    font-size: medium;
}
div.bar-container {
    border: 1px solid;
    border-color: #9ea4b1;
    background-color: white;
    margin: auto;
}
div.bar {
    background-color: #58D376;
}
p.progress-text {
    padding-top: 0.5em;
    margin-top: 0;
    margin-bottom: 0em;
    font-style: italic;
    font-size: small;
    text-align: center;
}
p.practice-box {
    color: blue;
    height: 1.5em;
    padding-bottom: 1em;
    font-size: small;
    text-align: center;
}
span.retry {
    color: #777777;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
span.retry:hover {
    text-decoration: underline;
}
span.retry:visited {
    color: #777777;
}
a.instructions {
    color: #008BFF;
    text-decoration: none;
    cursor: pointer;
}
a.instructions:hover {
    color: #003D71;

}
a.instructions:visited {
    color: #008BFF;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #f4fffd;
    color: #0b3696;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    border: 1px solid  #0b3696;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}