.message {
    font-size: medium;
    width: 40em;
}

.continue-link { text-decoration: none; color: #777777; }
.continue-link:hover { text-decoration: underline; color: #777777; }
.continue-link:visited { color: #777777; }